<app-header></app-header>
<div style="height: 20vh ; width: 100% ; display: flex ;  justify-content: center; align-items: center">
  <h2 style="color: #44BBFF; font-size: 36px ">Nos Activités</h2>

</div>
<div class="act_container">
  <div class="inner">
    <h2 class="title">Plus <br class="d-lg-block d-none">d'informations sur <br class="d-lg-block"> nos activités</h2>
    <img class="anim" src="https://busino-vue.pages.dev/images/shape-1.png" />
    <div class="row column-gap-5" style="padding-top: 130px">
      <div data-v-69f5adce="" class="col custom">
        <div data-v-69f5adce=""><img data-v-69f5adce="" src="https://busino-vue.pages.dev/images/icon/icon-5.png" alt="Testimonial"></div>
        <div data-v-69f5adce="" class="mt-5"><a data-v-69f5adce="" href="/service/1" class="text-2xl">ELASTICSEARCH</a>
          <br class="d-lg-block">
          <span data-v-69f5adce="" class="mt-4 block"><b>Notre maitrise a votre disposition</b><br>

Un projet Elasticsearch à réaliser ? Nos équipes qualifié en technologie Elastic sont a votre disposition pour etablir avec vous un cahier des charges, réaliser et deployer votre projet ou encore intervenir sur une installation existante.</span>
        </div>
      </div>




      <div data-v-69f5adce="" class="col custom mt-5" >
        <div data-v-69f5adce=""><img data-v-69f5adce="" src="https://busino-vue.pages.dev/images/icon/icon-6.png" alt="Testimonial"></div>
        <div data-v-69f5adce="" class="mt-5"><a data-v-69f5adce="" href="/service/1" class="text-2xl">DEVELOPPEMENT</a>
          <br class="d-lg-block">
          <span data-v-69f5adce="" class="mt-4 block"><b>Et vos projets prennent vie !</b><br>

Besoin de developper un nouveau projet ou d'intervenir sur un projet existant ? Nous sommes la pour vous aider a chaque etape de votre projet pour tout vos besoins en developpement.</span>
        </div>
      </div>




      <div data-v-69f5adce="" class="col custom mt-2">
        <div data-v-69f5adce=""><img data-v-69f5adce="" src="https://busino-vue.pages.dev/images/icon/icon-7.png" alt="Testimonial"></div>
        <div data-v-69f5adce="" class="mt-5"><a data-v-69f5adce="" href="/service/1" class="text-2xl">DEVOPS</a>
          <br class="d-lg-block">
          <span data-v-69f5adce="" class="mt-4 block"><b>La pour vous aider a gérer vos infrastuctures</b><br>
De Docker à Kubernetes en passant par Terraform, nous sommes formés sur les technologies clés en matiere de deployement et gestion d'infrastructure pour que votre projet puisse avoir la meilleure croissance possible !</span>
        </div>
      </div>





    </div>

  </div>

</div>

<div class="act_container flex-column mt-5">
  <h2 class="primary_title">Notre processus <br>de travail</h2>
  <div class="banner2"></div>
  <div class="position-relative">
  <img class="anim2" src="https://busino-vue.pages.dev/images/shape-1.png" />
  <div class="row column-gap-5">
    <div class="cube col mt-2">
      <h2>Meet</h2>
      <span>le client</span>
      <img src="https://busino-vue.pages.dev/images/icon/icon-9.png">
    </div>



    <div class="cube col mt-2">
      <h2>Think</h2>
      <span>Réflexion</span>
      <img src="https://busino-vue.pages.dev/images/icon/icon-10.png">
    </div>




    <div class="cube col mt-2">
      <h2>Plan</h2>
      <span>Faire la solution</span>
      <img src="https://busino-vue.pages.dev/images/icon/icon-11.png">
    </div>



    <div class="cube col mt-2">
      <h2>Execute</h2>
      <span>Livrer</span>
      <img src="https://busino-vue.pages.dev/images/icon/icon-12.png">
    </div>



  </div>
  </div>

  </div>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
