<div class="h-container px-5" style="margin-top: 50px">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading-common" >
          <h2 style="padding-bottom: 5px!important; margin-bottom: 5px!important;">Nous hebergons aussi vos projets! </h2>
          <p style="font-size: 18px">
            besoin d'heberger votre projet? Ne cherchez plus et faites nous confiance,<br class="d-lg-block d-none">
            avec HydroSAAS vous vous assurez un service toujours disponible et ce a juste prix!
          </p>
        </div>
      </div>
    </div>
  <button class="s-btn">En s'avoir plus</button>
  </div>
