<app-header></app-header>
<app-top-body></app-top-body>
<div style="width: 100%">
<div class="row px-5 mt-5 justify-content-center">
  <div *ngFor="let card of cards" class="col d-flex justify-content-center align-items-center">
    <app-cards [color]="card.attributes.color" [title]="card.attributes.serviceName" [content]="card.attributes.serviceDescription"></app-cards>

  </div>
</div>
</div>
<app-stats></app-stats>
<app-get-in-touch></app-get-in-touch>
<app-hebergement></app-hebergement>
<app-footer></app-footer>
